/target
/docs/html/

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.env
.venv

.mypy_cache
.pytest_cache
.coverage
coverage_report/

*.db

tarpaulin-report.html

.idea

.hist.txt
hist-search.txt

chats
python/*
!python/weaveback-agent/
!python/weaveback-agent/**
resume.txt

scripts/serve-ui/node_modules/
